{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "tests": "./tests",
          "src": "./src",
          "samples": "./samples"
        }
      }
    ]
  ]
}