@import "_variables.scss";

.notification-default {
  background-color: $default;
  border-left: 8px solid darken($default, 15%);
}

.notification-success {
  background-color: $success;
  border-left: 8px solid darken($success, 15%);
}

.notification-danger {
  background-color: $danger;
  border-left: 8px solid darken($danger, 15%);
}

.notification-info {
  background-color: $info;
  border-left: 8px solid darken($info, 15%);
}

.notification-warning {
  background-color: $warning;
  border-left: 8px solid darken($warning, 15%);
}

.notification-awesome {
  background-color: $awesome;
  border-left: 8px solid darken($awesome, 15%);
}

.notification-title,
.notification-message,
.notification-close span {
  color: #fff;
}