@import "./_containers.scss";
@import "./_types.scss";

.n-parent,
.notification-title,
.notification-message,
.notification-item {
  font-family: Arial, Helvetica, sans-serif;
}

.n-parent { 
  width: 275px;
}

.notification-item {
  display: flex;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  cursor: pointer;

  .notification-title {
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .notification-message {
    max-width: calc(100% - 15px);
    font-size: 14px;
    line-height: 150%;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 0;
  }

  .notification-content {
    padding: 8px 15px;
    display: inline-block;
    width: 100%;
  }

  .notification-close {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.notification-container-mobile-top .notification-item,
.notification-container-mobile-bottom .notification-item,
.notification-container-mobile-top .n-parent,
.notification-container-mobile-bottom .n-parent {
  max-width: 100%;
  width: 100%;
}

.notification-container-top-right .n-parent,
.notification-container-bottom-right .n-parent {
  margin-left: auto;
}

.notification-container-top-left .n-parent,
.notification-container-bottom-left .n-parent {
  margin-right: auto;
}

.notification-container-mobile-top .n-parent,
.notification-container-mobile-bottom .n-parent {
  margin-left: auto;
  margin-right: auto;
}